{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Login</h4></header>
			<h2>Login here</h2>
			<form method='post'>{% csrf_token %}
			{{form|crispy}}
			<button class="btn btn-primary">Login</button>
			</form><br>
			<a href="{% url 'password_change' %}">Change password</a>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Create account <a href="{% url 'usersapp:signup' %}">SignUp</a></p>
   <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
</body>
</html>