{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Change Password here</h4></header>
			<h2>Your password is succesfully changed</h2>
            <p class="text-center mt-4"><a href="{% url 'main:index' %}">Back to home</a></p>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
   <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
</body>
</html>