{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
			<h2>Login here</h2>
			<form method='post'>{% csrf_token %}
			{{form|crispy}}
			<button class="btn btn-primary">SignUp</button>
			</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
	<p class="text-center mt-4">Don't have account? <a href="{% url 'login' %}">Login</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
</body>
</html> 